# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Switch Executables
*.nso
*.nro
*.nacp
*.pfs0
*.kip

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.**/

exosphere/bpmpfw/out/**
exosphere/bpmpfw/build/**
exosphere/build/**
exosphere/out/**
fusee/fusee-primary/out/**
fusee/fusee-primary/build/**
fusee/fusee-secondary/out/**
fusee/fusee-secondary/build/**
fusee/fusee-tertiary/out/**
fusee/fusee-tertiary/build/**
fusee/out/**
fusee/build/**
stratosphere/loader/out/**
stratosphere/loader/build/**
stratosphere/sm/out/**
stratosphere/sm/build/**
stratosphere/pm/out/**
stratosphere/pm/build/**
stratosphere/boot/out/**
stratosphere/boot/build/**
stratosphere/boot2/out/**
stratosphere/boot2/build/**
