[submodule "common/include/boost"]
	path = common/include/boost
	url = https://github.com/Atmosphere-NX/ext-boost.git
[submodule "stratosphere/libstratosphere"]
	path = stratosphere/libstratosphere
	url = https://github.com/Atmosphere-NX/libstratosphere.git
